.card-img-top {
    aspect-ratio: 16 / 9;
}

.booking-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.booking-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    width: 250px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
