/*h1 {
    background-color: #00AEEF;
    padding: 15px;
}*/

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}

    .section img {
        width: 50%;
        height: auto;
        border-radius: 8px;
    }

.section-content {
    width: 50%;
    padding: 20px;
}

.section.reverse {
    flex-direction: row-reverse;
}

/* Lidt ekstra pæn opsætning */
.section-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.section-content p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Gør det responsivt på mobil */
@media (max-width: 768px) {
    .section {
        flex-direction: column;
    }

        .section.reverse {
            flex-direction: column;
        }

        .section img, .section-content {
            width: 100%;
        }
}
