@page
@model Hillerød_Sejklub.Pages.BlogModel
@{
	ViewData["Title"] = "Blogindlæg";

}
<h1>Hillerød Sejlklub</h1>

<p>
	Hillerød Sejlklub er ikke bare en havn – det er et stærkt fællesskab. Hver uge summer klubhuset af liv, når medlemmerne mødes til sejlertræning, klubaftener og hyggelige arrangementer. Instruktørerne står klar til at lære fra sig, og stemningen bærer præg af, at alle hjælper hinanden, uanset erfaring. Her handler det om både teknik, eventyr og venskaber, der holder hele livet.

	
</p>
<div>
	<img src="Media/sejl1.jpg" class="img-fluid1" alt="Responsive Logo" width="50" height="50">
</div>

<h2>
	Træning og sammenhold – En stærk klubkultur
</h2>

<p>
	Hillerød Sejlklub er ikke bare en havn – det er et stærkt fællesskab. Hver uge summer klubhuset af liv, når medlemmerne mødes til sejlertræning, klubaftener og hyggelige arrangementer. Instruktørerne står klar til at lære fra sig, og stemningen bærer præg af, at alle hjælper hinanden, uanset erfaring. Her handler det om både teknik, eventyr og venskaber, der holder hele livet.
</p>
<div>
	<img src="Media/sejl3.jpg" class="img-fluid1" alt="Responsive Logo" width="50" height="50">
</div>

<h3>
	Oplev naturen fra en ny vinkel
</h3>

	<p>
	At sejle med Hillerød Sejlklub giver en helt unik mulighed for at opleve Slotssøen, Frederiksborg Slot og de omkringliggende naturområder fra vandsiden. Der er få oplevelser, der kan måle sig med at glide lydløst hen over vandet, mens solens stråler rammer slottets tårne. Klubben tilbyder også ture og arrangementer for familier og virksomheder, så alle kan få en smagsprøve på den magiske følelse af frihed, der følger med sejlads.
	</p>

<div>
	<img src="Media/sejl4.jpg" class="img-fluid1" alt="Responsive Logo" width="50" height="50">
</div>